.media-card {
  padding: 15px;
  width: 300px;
  height: auto;
  position: relative;
  border-radius: 0;
}

.media-grid-wrapper {
  margin-top: 20px;
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(4, 1fr);
  //grid-template-rows: repeat(4, auto);
  grid-gap: 30px;
}