// GLOBAL
@import "helper/variables";
@import "~bootstrap";

// LAYOUTS
@import "layout/header";
@import "layout/footer";

// COMPONENTS
@import "components/trick";
@import "components/media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
